<!-- <h1 id='logo'>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>

</h1>
<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %> -->
<div id="home"></div>
<div id="navigation" >
<ul class="nav nav-pills affix">
<li><a href="#home">Home</a></li>
<li><a href="#rideco">What is TheRideCo</a></li>  
<li><a href="#brands">Brands</a></li>
<li><a href="#trail-advocacy">Trail advocacy</a></li>
</ul>
</div>
<section id="header-wrapper" data-speed="4" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
        <%= image_tag 'rideco-logo.png', class: 'img-responsive' %>
      </div>
    </div>

  </div>
</section>

