<!-- <h1 id='logo'>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>

</h1>
<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %> -->
<section id="header-wrapper" data-speed="6" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
        <%= image_tag 'rideco-logo.png', class: 'img-responsive' %>
      </div>
    </div>

  </div>
</section>

