/* custom styles */
@import 'variables.css.scss';

body {
  background-color:#d32a2c;
}

#header-wrapper {
  color:#fff;
  //min-height:200px;
  a {
    color:#fff;
  }
  background: url(BHSpin-sized.png) 50% 0%; 
  position: relative; 
  padding: 200px 0;
  background-size:cover;
  background-repeat:no-repeat;
}

#statement {
  padding:70px 0;
  .lead {
    font-size:22px;
    color:#fff;
    font-weight:100;
    letter-spacing: .05em;
  }
}

#brands {
  padding:100px 0;
  box-shadow:inset 1px 1px 10px rgba(0,0,0,.1);
}

#trail-advocacy {
  background: url(bikers-DSC_0546.jpg) 50% 0; 
  margin: 0 auto; 
  position: relative; 
  padding: 200px 0;
  background-size:cover;
  background-repeat:no-repeat;
}