/* responsive */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    border:3px solid red;
  }
  // #header {
  //   background-position-y:70%;
  //   min-height:400px;
  //   #header-wrapper {
  //     margin-top:250px;
  //   }

  // }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    border:3px solid blue;
  }

  // #header {
  //   background-position-y:70%;

  // }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    border:3px solid yellow;
  }

#header-wrapper {
  background: url(BHSpin-sized.png) 50% 0%; 
  position: relative; 
  padding: 300px 0;
  background-size:cover;
  background-repeat:no-repeat;
}


}